/* The side navigation menu */

body {
  font-size: 14px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  box-shadow: 1px 0px 5px -1px rgba(0, 0, 0, 0.68);
}

/* Sidebar links */

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
  width: 15em;
  margin: 0 auto;
  margin-top: 0.5em;
}

/* Active/current link */

.sidebar a.active {
  background-color: #3BB9FF;
  color: white;
  border-radius: 5em;
}

/* Links on mouse-over */

.sidebar a:hover:not(.active) {
  background-color: #3BB9FF;
  color: white;
  border-radius: 5em;
}

.sidebar div.title {
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 7px;
  color: #3BB9FF;
  margin-top: 1em;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.panel {
  border: 0.7px solid #ddd;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.panel-body {
  padding: 1.5em;
}

.container {
  margin: 3em 1em 0px 1em;
}

.btn {
  padding: 6px 13px !important;
  font-size: 14px;
}

a.btn {
  color: white !important;
}

a.tab {
  border: 1px #dad8d8 solid;
  padding: 10px 15px;
  color: #3BB9FF;
  text-decoration: none;
  border-radius: 5px;
}

a.tab.active {
  background-color: #3BB9FF;
  color: white;
}

.btn-primary {
  background-color: #3BB9FF;
  border: 1px solid #3BB9FF;
}

label {
  font-size: 13px !important;
}

.form-control {
  height: 3em !important;
}

.form-group {
  margin-bottom: 10px !important;
}

select {
  font-size: 13px !important;
}

input {
  font-size: 13px !important;
}

.table thead th {
  vertical-align: inherit !important;
  border-bottom: 2px solid #dee2e6;
}

.table thead th {
  vertical-align: unset;
  border-bottom: 2px solid #dee2e6;
}

.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.overflow-x {
  overflow-x: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

